---
import { SpotyVisor } from "@modules/visualizer/SpotyVisor";
import ProfilePill from "@modules/auth/ProfilePill.astro";
import { getSession } from "auth-astro/server";
import { type SpotifyToken } from "@modules/auth/spotify-token";
import type { Session } from "@auth/core/types";

const session = (await getSession(Astro.request)) as any as Session &
  SpotifyToken;
---

<style>
  body {
    font-family: "Arial";
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .actions {
    display: flex;
    align-items: center;
  }
  iframe {
    width: 100%;
  }
</style>

<header>
  <h1>Visor</h1>
  {
    session ? (
      <div class="actions">
        <ProfilePill user={session.user} />
        <button id="logout">Logout</button>
      </div>
    ) : (
      <button id="login">Spotify Login</button>
    )
  }
</header>
<script>
  const { signIn, signOut } = await import("auth-astro/client");
  const loginButton: HTMLButtonElement | null =
    document.querySelector("#login");
  const logoutButton: HTMLButtonElement | null =
    document.querySelector("#logout");
  if (loginButton) {
    loginButton.onclick = () => signIn("spotify");
  }
  if (logoutButton) {
    logoutButton.onclick = () => signOut();
  }
</script>
<SpotyVisor accessToken={session?.accessToken} client:load />
