---
import { SpotyVisor } from "./SpotyVisor";
import { getSession } from "auth-astro/server";
import { type SpotifyToken } from "@modules/auth/spotify-token";
import type { Session } from "@auth/core/types";

const session = (await getSession(Astro.request)) as any as Session &
  SpotifyToken;
---

<h1>Visor</h1>
{
  session ? (
    <div class="profile">
      <button id="logout">Logout</button>
      <hr />
      <p>Welcome {session.user?.name}</p>
      <img src={session.user?.image} />
      <hr />
    </div>
  ) : (
    <button id="login">Spotify Login</button>
  )
}
<SpotyVisor accessToken={session?.accessToken} client:load />
<script>
  const { signIn, signOut } = await import("auth-astro/client");
  const loginButton: HTMLButtonElement | null =
    document.querySelector("#login");
  const logoutButton: HTMLButtonElement | null =
    document.querySelector("#logout");
  console.log({ loginButton, logoutButton });
  if (loginButton) {
    loginButton.onclick = () => signIn("spotify");
  }
  if (logoutButton) {
    logoutButton.onclick = () => signOut();
  }
</script>
